<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<h1>403</h1>
% if defined('user'):
Access to host <b>{{ host }}</b> for user <b>{{ user }}</b> denied<br>
% else:
Access to host <b>{{ host }}</b> denied<br>
% end